<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <link rel="dns-prefetch" href="https://code.jquery.com">
  <link rel="dns-prefetch" href="https://use.fontawesome.com">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <title>About - Pomod.co</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta itemprop="name" content="About - Pomod.co">
  <meta itemprop="image" content="https://pomod.co/assets/images/ogp.png">
  <link rel="canonical" href="https://pomod.co" />
  <link rel="alternate" type="application/rss+xml" href="https://pomod.co/assets/sitemap.xml" />
  <!-- OGP -->
  <meta property="fb:app_id" content="1203442269812622">
  <meta property="og:url" content="https://pomod.co">
  <meta property="og:type" content="website">
  <meta property="og:title" content="About - Pomod.co">
  <meta property="og:description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta property="og:image" content="https://pomod.co/assets/images/ogp.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Pomod.co -  About">
  <meta name="twitter:description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta name="twitter:image" content="https://pomod.co/assets/images/ogp.png">
  <meta name="twitter:site" content="@i5so_" />
  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/header.css" />
  <link rel="stylesheet" href="assets/css/about.css" />
  <!-- ファビコン -->
  <link rel="icon" href="assets/images/favicon.ico">
  <!-- スマホ用アイコン -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/app_icon_180.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <!-- Windows用アイコン -->
  <meta name="application-name" content="Pomod.co -  About" />
  <meta name="msapplication-square70x70logo" content="assets/images/app_icon_70.png" />
  <meta name="msapplication-square150x150logo" content="assets/images/app_icon_150.png" />
  <meta name="msapplication-square310x310logo" content="assets/images/app_icon_310.png" />
  <meta name="msapplication-TileColor" content="#efeeee" />
  <!-- テーマカラー -->
  <meta name="theme-color" content="#efeeee">
</head>

<body>
  <header>
    <h2><a href="/">Pomod.co</a></h2>
  </header>
  <div class="border"></div>
  <main>
    <section id="surface">
      <div class="title">
        <h1>What is Pomod.co?</h1>
        <h2>- About -</h2>
      </div>
      <div class="arrowWrap">
        <div class="arrow1">
          <span></span>
        </div>
        <div class="arrow2">
          <span></span>
        </div>
      </div>
    </section>
    <section>
      <div id="pomodoro" class="section_content">
        <h2>ポモドーロテクニックとは</h2>
        <div class="content">
          <img src="assets/images/pomodoro.jpg" alt="pomodoro">
          <p>
            ポモドーロテクニックとは、短時間の集中と休憩を繰り返すことで、高い集中力を長時間保ち、生産性を向上させる時間管理術を指します。<br><br>
          1980年代にイタリアの起業家で作家のFrancesco Cirillo氏によって生まれた方法です。<br><br>
          ポモドーロ(トマト)と名付けられたのは、彼が使っていたトマト型のタイマーに由来します。
        </p>
        </div>
      </div>
    </section>
    <section>
      <div id="pomodco" class="section_content">
        <h2>Pomod.coが目指すもの</h2>
        <div class="content">
          <img src="assets/images/pomodco.jpg" alt="pomodco">
          <p>
          Pomod.coは元々勉強をした分だけトマトの木を育てるゲーム要素のあるタイマーアプリとして発足しました。<br>
          しかし、デザイン性やインターフェースの観点は賛否両論でした。<br><br>
          だからVer.2では「オシャレで集中できるポモドーロタイマー」として、最近話題になっているNeumorphismを取り入れ、シンプルで操作性の良いものにしようと考えました。<br>
          このアプリがあなたの勉強のお供となることを心から願っています。
          </p>
        </div>
      </div>
    </section>
    <section>
      <div id="use" class="section_content">
        <h2>使い方</h2>
        <div class="content">
          <img src="assets/images/how_to_use.svg" alt="how_to_use">
          <p>
            Pomod.coの使用法はとても簡単です。<br><br>
            まず<a href="/signup" target="_blank">アカウント登録</a>にてアカウント登録をします。<br>
            そして、Dashboard内に時間を設定するフォームがあるのでそこで任意の時間を入力します(初期設定ではポモドーロ勉強法の基準に合わせ25分に設定しています)。<br>
            あとはスタートボタンを押し、勉強をするだけです！<br><br>
            そのほかの機能については、チュートリアル(現在未実装)や画面の案内が教えてくれます!それ以外にお困りの際は<a href="https://forms.gle/T2C1g232wDBSbFmWA" target="_blank">フォーム</a>のその他からお願いします。
          </p>
        </div>
      </div>
    </section>
    <section>
      <div id="try" class="section_content">
        <h2>さあ、はじめよう！</h2>
        <div class="content">
          <img src="assets/images/lets_do_it.svg" alt="lets_do_it">
          <div>
            <a class="lets" href="/signin"><i class="fas fa-sign-in-alt"></i></a>
            <a class="lets" href="/signup"><i class="fas fa-user-plus"></i></a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('a').click(function () {
        location.href = $(this).attr('href');
        return false;
      });
    });
  </script>
  <script>
    (function (d) {
      var c = d.createElement('link');
      c.type = 'text/css';
      c.rel = 'stylesheet';
      c.href = 'https://use.fontawesome.com/releases/v5.0.6/css/all.css';
      var s = d.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(c, s);
    })(document);
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-84261059-4');
  </script>
</body>
</html>