<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- Meta -->
  <meta charset="UTF-8" />
  <title>Pomod.co</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta itemprop="name" content="Pomod.co">
  <meta itemprop="image" content="https://pomod.co/assets/images/ogp.png">
  <link rel="canonical" href="https://pomod.co" />
  <link rel="alternate" type="application/rss+xml" href="https://pomod.co/assets/sitemap.xml" />
  <!-- OGP -->
  <meta property="fb:app_id" content="1203442269812622">
  <meta property="og:url" content="https://pomod.co">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Pomod.co">
  <meta property="og:description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta property="og:image" content="https://pomod.co/assets/images/ogp.png">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Pomod.co">
  <meta name="twitter:description" content="Pomod.co(ポモドコ)はオシャレで集中できるポモドーロタイマーです。このアプリは25分作業して5分休むことで集中力を継続することのできるポモドーロ勉強法を基にして作られています。">
  <meta name="twitter:image" content="https://pomod.co/assets/images/ogp.png">
  <meta name="twitter:site" content="@i5so_" />
  <!-- CSS -->
  <link rel="stylesheet" href="assets/css/layout-sign-on.css" />
  <link rel="stylesheet" href="assets/css/index-sign-on.css" />
  <!-- JS -->

  <!-- ファビコン -->
  <link rel="icon" href="assets/images/favicon.ico">
  <!-- スマホ用アイコン -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/app_icon_180.png">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <!-- Windows用アイコン -->
  <meta name="application-name" content="Pomod.co" />
  <meta name="msapplication-square70x70logo" content="assets/images/app_icon_70.png" />
  <meta name="msapplication-square150x150logo" content="assets/images/app_icon_150.png" />
  <meta name="msapplication-square310x310logo" content="assets/images/app_icon_310.png" />
  <meta name="msapplication-TileColor" content="#efeeee" />
  <!-- テーマカラー -->
  <meta name="theme-color" content="#efeeee">
</head>

<body>
  <menu>
    <a class="logo-wrap-wrap" href="/">
      <div class="logo-wrap">
        <img class="logo" src="assets/images/logo.svg" alt="logo">
      </div>
    </a>
    <div id="on">
      <div><i class="fas fa-home"></i></div>
    </div>
    <a href="/timer_set">
      <div id="child"><i class="far fa-clock"></i></div>
    </a>
    <a href="/chart">
      <div id="child"><i class="fas fa-chart-line"></i></div>
    </a>
    <a href="/todo">
      <div id="child"><i class="fas fa-check"></i></div>
    </a>
    <a href="/settings">
      <div id="child"><i class="fas fa-cog"></i></div>
    </a>
    <a class="signout-wrap" href="/signout">
      <div id="signout"><i class="fas fa-sign-out-alt"></i></div>
    </a>
  </menu>
  <main>
    <div id="title">
      <br>
      <h1>Dashboard</h1>
      <hr>
      <div id="content">
        <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>

        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <script>
          Highcharts.chart('container', {
            chart: {
              type: 'spline',
              scrollablePlotArea: {
                minWidth: 600,
                scrollPositionX: 1
              }
            },
            title: {
              text: 'Wind speed during two days',
              align: 'left'
            },
            subtitle: {
              text: '13th & 14th of February, 2018 at two locations in Vik i Sogn, Norway',
              align: 'left'
            },
            xAxis: {
              type: 'datetime',
              labels: {
                overflow: 'justify'
              }
            },
            yAxis: {
              title: {
                text: 'Wind speed (m/s)'
              },
              minorGridLineWidth: 0,
              gridLineWidth: 0,
              alternateGridColor: null,
              plotBands: [{ // Light air
                from: 0.3,
                to: 1.5,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                  text: 'Light air',
                  style: {
                    color: '#606060'
                  }
                }
              }, { // Light breeze
                from: 1.5,
                to: 3.3,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                  text: 'Light breeze',
                  style: {
                    color: '#606060'
                  }
                }
              }, { // Gentle breeze
                from: 3.3,
                to: 5.5,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                  text: 'Gentle breeze',
                  style: {
                    color: '#606060'
                  }
                }
              }, { // Moderate breeze
                from: 5.5,
                to: 8,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                  text: 'Moderate breeze',
                  style: {
                    color: '#606060'
                  }
                }
              }, { // Fresh breeze
                from: 8,
                to: 11,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                  text: 'Fresh breeze',
                  style: {
                    color: '#606060'
                  }
                }
              }, { // Strong breeze
                from: 11,
                to: 14,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                  text: 'Strong breeze',
                  style: {
                    color: '#606060'
                  }
                }
              }, { // High wind
                from: 14,
                to: 15,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                  text: 'High wind',
                  style: {
                    color: '#606060'
                  }
                }
              }]
            },
            tooltip: {
              valueSuffix: ' m/s'
            },
            plotOptions: {
              spline: {
                lineWidth: 4,
                states: {
                  hover: {
                    lineWidth: 5
                  }
                },
                marker: {
                  enabled: false
                },
                pointInterval: 3600000, // one hour
                pointStart: Date.UTC(2018, 1, 13, 0, 0, 0)
              }
            },
            series: [{
              name: 'Hestavollane',
              data: [
                3.7, 3.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 6.4,
                6.9, 6.0, 6.8, 4.4, 4.0, 3.8, 5.0, 4.9, 9.2, 9.6, 9.5, 6.3,
                9.5, 10.8, 14.0, 11.5, 10.0, 10.2, 10.3, 9.4, 8.9, 10.6, 10.5, 11.1,
                10.4, 10.7, 11.3, 10.2, 9.6, 10.2, 11.1, 10.8, 13.0, 12.5, 12.5, 11.3,
                10.1
              ]

            }, {
              name: 'Vik',
              data: [
                0.2, 0.1, 0.1, 0.1, 0.3, 0.2, 0.3, 0.1, 0.7, 0.3, 0.2, 0.2,
                0.3, 0.1, 0.3, 0.4, 0.3, 0.2, 0.3, 0.2, 0.4, 0.0, 0.9, 0.3,
                0.7, 1.1, 1.8, 1.2, 1.4, 1.2, 0.9, 0.8, 0.9, 0.2, 0.4, 1.2,
                0.3, 2.3, 1.0, 0.7, 1.0, 0.8, 2.0, 1.2, 1.4, 3.7, 2.1, 2.0,
                1.5
              ]
            }],
            navigation: {
              menuItemStyle: {
                fontSize: '10px'
              }
            }
          });
        </script>
      </div> -->
      </div>
      <div id="todo">
        <h1>Todo</h1>
        <a href="/todo">
          <div class="todo-add"><i class="fas fa-plus"></i></div>
        </a>
        <div class="card">
          <div>
            <h3>Test作る</h3>
          </div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div>
            <h3>あああああああ</h3>
          </div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div></div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div></div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div></div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div></div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div></div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div></div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div></div>
          <input type="checkbox">
        </div>
        <div class="card">
          <div></div>
          <input type="checkbox">
        </div>
        <a href="/todo">
          <div class="more">
            <p>もっと見る</p>
          </div>
        </a>
      </div>
  </main>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
  <script>
    $(function () {
      $('a').click(function () {
        location.href = $(this).attr('href');
        return false;
      });
    });
  </script>
  <script>
    (function (d) {
      var c = d.createElement('link');
      c.type = 'text/css';
      c.rel = 'stylesheet';
      c.href = 'https://use.fontawesome.com/releases/v5.0.6/css/all.css';
      var s = d.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(c, s);
    })(document);
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-84261059-4');
  </script>
</body>
</html>