<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>Pomod.co</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/header.css" />
  <link rel="stylesheet" href="assets/css/index-sign-off.css" />
  <!-- ファビコン -->
  <link rel="icon" href="assets/images/favicon.ico">
  <!-- スマホ用アイコン -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/app_icon_180.png">
  <!-- Windows用アイコン -->
  <meta name="application-name" content="Pomod.co" />
  <meta name="msapplication-square70x70logo" content="assets/images/app_icon_70.png" />
  <meta name="msapplication-square150x150logo" content="assets/images/app_icon_150.png" />
  <meta name="msapplication-square310x310logo" content="assets/images/app_icon_310.png" />
  <meta name="msapplication-TileColor" content="#efeeee" />
  <!-- テーマカラー -->
  <meta name="theme-color" content="#efeeee">
</head>

<body>
  <header>
    <div id="usericon"><img src="assets/images/guest.svg" alt="guest_icon"></div>
    <h4>Hello, <%= current_user.username %></h4>
  </header>
  <div class="border"></div>

  <div id="content-wrap">
    <div id="content">
      <main>
        <div class="logo-wrap">
          <img class="logo" src="assets/images/logo.svg" alt="logo">
        </div>
        <h1>Pomod.co</h1>
        <p><b>オシャレで集中できるポモドーロタイマー</b></p>
      </main>
      <menu>
        <div class="signin">
          <a href="/signin">
            <div><i class="fas fa-sign-in-alt"></i></div>
          </a>
          <p>Signin</p>
        </div>
        <div class="about">
          <a href="/about">
            <div><i class="far fa-question-circle"></i></div>
          </a>
          <p>About</p>
        </div>
      </menu>
    </div>
  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-84261059-4');
  </script>
</body>
</html>