<form action="/make_notice" method="post">
  <input type="text" name="title" placeholder="title">
  <textarea type="text" name="content" placeholder="content"></textarea>
  <input type="submit" value="send">
</form>