<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>Title here.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/header.css" />
  <link rel="stylesheet" href="assets/css/signin-up.css" />
    <!-- ファビコン -->
  <link rel="icon" href="assets/images/favicon.ico">
  <!-- スマホ用アイコン -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/app_icon_180.png">
  <!-- Windows用アイコン -->
  <meta name="application-name" content="Pomod.co" />
  <meta name="msapplication-square70x70logo" content="assets/images/app_icon_70.png" />
  <meta name="msapplication-square150x150logo" content="assets/images/app_icon_150.png" />
  <meta name="msapplication-square310x310logo" content="assets/images/app_icon_310.png" />
  <meta name="msapplication-TileColor" content="#efeeee" />
  <!-- テーマカラー -->
  <meta name="theme-color" content="#efeeee">
</head>

<body>
  <header>
    <h2><a href="/">Pomodco</a></h2>
  </header>
  <div class="border"></div>
  <div id="content-wrap">
    <div id="content">
      <main>
        <div id="container">
          <h1>サインアップ</h1>
          <% if session[:signup_error] %>
          <div class="error">
            <h3>Error!</h3>
            <p><%= session[:signup_error] %></p>
          </div>
          <% end %>
          <form action="/signup" method="post">
            <br>
            <input type="text" name="username" placeholder="ユーザー名"><br>

            <br>
            <input type="password" name="password" placeholder="パスワード"><br>

            <br>
            <input type="password" name="password_confirmation" placeholder="パスワードの再入力"><br>

            <input type="submit" value="Next">
            <a href="/signin">
              <p>サインインする</p>
            </a>
          </form>
        </div>
      </main>
    </div>
  </div>
</body>
</html>