<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>アカウント新規登録</title>
	<link rel="stylesheet" href="/assets/css/signup.css">
	<link rel="stylesheet" href="/assets/css/menu.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84261059-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-84261059-4');
  </script>
</head>
<body>

	<header id="luxbar" class="luxbar-fixed">
  	  <input type="checkbox" class="luxbar-checkbox" id="luxbar-checkbox"/>
    	<div class="luxbar-menu luxbar-menu-right luxbar-menu-material-red">
      	  <ul class="luxbar-navigation">
        	    <li class="luxbar-header">
              <a href="/" class="luxbar-brand"><img src="/assets/images/pomodco_logo_white.png" height="40px" alt="main_logo"></a>
                <%# <a href="/" class="luxbar-brand"><img src="/assets/images/icon.png" alt="Brand Icon." class="brand_icon" /></a> %>
         	       <label class="luxbar-hamburger luxbar-hamburger-doublespin"
                id="luxbar-hamburger" for="luxbar-checkbox"> <span></span> </label>
          	  </li>


							<li class="luxbar-item"><a href="/login">ログイン</a></li>
    	        <li class="luxbar-item"><a href="/signup">アカウント登録</a></li>


    	        <%# <li class="luxbar-item"><a href="#">Item 2</a></li>
    	        <li class="luxbar-item"><a href="#">Item 3</a></li>
   	         <li class="luxbar-item"><a href="#">Item 4</a></li> %>
    	    </ul>
    	</div>
	</header>

	<div class="form-wrapper">
  	<h1>アカウント作成</h1>

  	<form action="/signup" method="post">
  	  <div class="form-item">
  	    <label for="name"></label>
  	    <input type="text" name="name" placeholder="ニックネーム(英数字8文字以内)"></input>
  	  </div>
  	  <div class="form-item">
  	    <label for="mail"></label>
  	    <input type="text" name="mail" placeholder="メールアドレス"></input>
  	  </div>
  	  <div class="form-item">
  	    <label for="password"></label>
  	    <input type="password" name="password" placeholder="パスワード"></input>
  	  </div>
  	  <div class="form-item">
  	    <label for="password"></label>
  	    <input type="password" name="password_confirmation" placeholder="パスワードの確認"></input>
  	  </div>
  	  <div class="button-panel">
  	    <input type="submit" class="button" title="Signup" value="アカウントを作成！"></input>
  	  </div>
 	 </form>
  	<div class="form-footer">
    	<p><a href="/login">すでに作成済みの場合</a></p>
  	</div>
	</div>
</body>
</html>