* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  /* color: #5e5e5e; */
  font: 400 87.5%/1.5em "Noto Sans", sans-serif;
}

.main {
  background: #ffffff;
  margin: 90px auto 0;
  /* padding: 0 1em; */
  max-width: 987px;
}

.usercard {
  background: #ffffff;
  padding: 0 1em 2em;
  width: 25%;
  float: left;
}

.user_icon_title {
  text-align: center;
}

.user_icon {
  width: 100%;
  border-radius: 6px;
  margin: 0 0 1em 0;
}

.icon_change_button {
  padding: 0.5em 0;
}

.icon_change_btn {
  display: inline-block;
  padding: 0.75em 1em;
  text-decoration: none;
  background: #ea5549;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #ea5549;
  border: dashed 1px #fff;
  width: 100%;
  text-align: center;
  font: bold 100%/1.5em "Noto Sans", sans-serif;
}

.icon_change_btn:hover {
  border: dotted 1px #fff;
  background: #ea5449cc;
  box-shadow: 0px 0px 0px 5px #ea5549cc;
}

.icon_option_button {
  padding: 0.75em 0;
}

.icon_option_btn {
  display: inline-block;
  padding: 0.75em 1em;
  text-decoration: none;
  background: #85bd56;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #85bd56;
  border: dashed 1px #fff;
  width: 100%;
  text-align: center;
  font: bold 100%/1.5em "Noto Sans", sans-serif;
}

.icon_option_btn:hover {
  border: dotted 1px #fff;
  background: #84bd56cc;
  box-shadow: 0px 0px 0px 5px #85bd56cc;
}

.user_setting {
  background: #f0f0f0;
  padding: 0 2em 2em;
  width: 75%;
  float: left;
  border-radius: 6px;
}

.setting_title {
  text-align: left;
  background: #f0f0f0;
  padding: 1em 1em;
}

.form-item {
  margin-bottom: 1.5em;
  width: 60%;
}

.form-item input {
  background: #ffffff;
  border: none;
  border-bottom: 2px solid #24d48b;
  color: #666;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  height: 34px;
  transition: border-color 0.3s;
  width: 100%;
  border-radius: 6px;
}

.form-item input:focus {
  border-bottom: 2px solid #7effb4;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #24d48b;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 45px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 60%;
  border-radius: 6px;
}

.button:hover {
  background: #3eee87;
}

.button-panel .reset_delete {
  background: #ea5549;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 45px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 60%;
  border-radius: 6px;
}

.reset_delete:hover {
  background: #fc7e76;
}

@media screen and (max-width: 768px) {
  .usercard {
    background: #ffffff;
    padding: 0 1em;
    width: 100%;
    float: left;
  }

  .user_icon {
    width: 100%;
    float: left;
    border-radius: 6px;
  }

  .user_setting {
    /* background: #f0f0f0; */
    /* padding: 0 1em; */
    padding: 1em 1em;
    width: 100%;
    margin: 0 auto;
    float: left;
    border-radius: 6px;
  }

  .form-item {
    margin-bottom: 1.5em;
    width: 100%;
  }

  .form-item input {
    background: #ffffff;
    border: none;
    border-bottom: 2px solid #24d48b;
    color: #666;
    font-family: "Noto Sans", sans-serif;
    font-size: 1em;
    height: 34px;
    transition: border-color 0.3s;
    width: 100%;
  }

  .button-panel {
    margin: 2em 0 0;
    width: 100%;
  }

  .button-panel .button {
    background: #24d48b;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 45px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
  }

  .button-panel .reset_delete {
    background: #ea5549;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 45px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
  }
}
