.remove,
input[type="submit"] {
  outline: none;
  border: none;
  border-radius: 50px;
  margin: 16px 4px;
  width: 120px;
  height: 50px;
  font-size: 0.85rem;
  background: #efeeee;
  box-shadow: 5px 5px 8px #cbcaca, -2px -2px 8px #ffffff;
}
.remove:active,
input[type="submit"]:active {
  box-shadow: inset 5px 5px 8px #cbcaca, -2px -2px 8px #ffffff;
}
input {
  outline: none;
  border: none;
  background: #efeeee;
  margin: 16px 0;
  padding: 8px 12px;
  border-radius: 50px;
  width: 90%;
  font-size: 1.3rem;
  box-shadow: -2px -2px 8px #cbcaca, 2px 2px 8px #ffffff;
}
