* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  /* color: #5e5e5e; */
  font: 400 87.5%/1.5em "Noto Sans", sans-serif;
}

.main {
  background: #ffffff;
  margin: 90px auto 0;
  /* padding: 0 1em; */
  max-width: 987px;
}

.usercard {
  background: #ffffff;
  padding: 0 1em;
  width: 25%;
  float: left;
}

.username {
  padding: 0.25em 0 0.25em 0.25em;
  text-align: center;
}

.username h1 {
  font-size: 23px;
}

.user_icon {
  width: 100%;
  border-radius: 6px;
}

.timerbutton {
  padding: 0.5em 0;
}

.timer_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #ea5549;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #ea5549;
  border: dashed 1px #fff;
  width: 100%;
  text-align: center;
  font: bold 110%/1.5em "Noto Sans", sans-serif;
}

.timer_btn:hover {
  border: dotted 1px #fff;
  background: #ea5449cc;
  box-shadow: 0px 0px 0px 5px #ea5549cc;
}

.indexbutton {
  padding: 0.5em 0;
}

.index_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #85bd56;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #85bd56;
  border: dashed 1px #fff;
  width: 100%;
  text-align: center;
  font: bold 110%/1.5em "Noto Sans", sans-serif;
}

.index_btn:hover {
  border: dotted 1px #fff;
  background: #84bd56cc;
  box-shadow: 0px 0px 0px 5px #85bd56cc;
}

.user_history {
  background: #f0f0f0;
  padding: 1em 1em;
  width: 75%;
  float: left;
  border-radius: 6px;
  text-align: center;
}

.history_title {
  text-align: center;
}

table {
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  margin: 1em;
  text-align: center;
}

table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  text-align: center;
}

table.history_table th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  background: #3f3f3f;
  color: #ffffff;
}
table.history_table td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}

tr:nth-child(even) {
  background: #d9d9d9;
}

.pagination {
  margin: 0.5em;
  text-align: center;
}
.current {
  background: #8b8b8b !important;
  margin: 0.75em;
  color: #ffffff;
  border: solid 10px #8b8b8b !important;
  border-radius: 6px;
}

.page {
  background: #ffffff;
  margin: 0.25em;
  color: #ffffff;
  border: solid 10px #ffffff;
  border-radius: 6px;
}

.first {
  background: #ffffff;
  margin: 0.25em;
  color: #ffffff;
  border: solid 10px #ffffff;
  border-radius: 6px;
}

.prev {
  background: #ffffff;
  margin: 0.25em;
  color: #ffffff;
  border: solid 10px #ffffff;
  border-radius: 6px;
}

.next {
  background: #ffffff;
  margin: 0.25em;
  color: #ffffff;
  border: solid 10px #ffffff;
  border-radius: 6px;
}

.last {
  background: #ffffff;
  margin: 0.25em;
  color: #ffffff;
  border: solid 10px #ffffff;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .usercard {
    background: #ffffff;
    padding: 0 1em;
    width: 100%;
    float: left;
  }

  .user_icon {
    width: 40%;
    float: left;
    border-radius: 6px;
  }

  .timerbutton {
    padding: 0.5em 0;
  }

  .timer_btn {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 1em auto 0;
    text-decoration: none;
    background: #ea5549;
    transition: 0.3s ease-in-out;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #ea5549;
    border: dashed 1px #fff;
    width: 100%;
    text-align: center;
    font: bold 110%/1.5em "Noto Sans", sans-serif;
  }

  .indexbutton {
    padding: 0.5em 0;
  }

  .index_btn {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 auto 1em;
    text-decoration: none;
    background: #85bd56;
    transition: 0.3s ease-in-out;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #85bd56;
    border: dashed 1px #fff;
    width: 100%;
    text-align: center;
    font: bold 110%/1.5em "Noto Sans", sans-serif;
  }

  .user_history {
    /* background: #f0f0f0; */
    /* padding: 0 1em; */
    padding: 1em 1em;
    width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    float: left;
    border-radius: 6px;
  }

  .history_table {
    -webkit-overflow-scrolling: touch;
    margin: 0.25em 0.25em 1em 0.25em;
    padding: 0;
    width: 736px;
    text-align: center;
  }

  .pagination {
    width: 736px;
    text-align: left;
  }

  .user_history {
    padding: 1vw;
  }
}
