* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  /* color: #5e5e5e; */
  font: 400 87.5%/1.5em "Noto Sans", sans-serif;
}

.about {
  margin: 55px auto 0 0;
}

.about_title {
  position: relative;
  text-align: center;
  top: calc(50% - 15%);
  margin: auto;
  font-size: 6vmax;
  color: #ffffff;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 21px);
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 60px;
  color: #ffffff;
}

.scroll span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.scroll span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.main {
  background: #ffffff;
  margin: 90px auto 0;
  max-width: 987px;
}

.usercard {
  background: #ffffff;
  padding: 0 1em;
  width: 25%;
  float: left;
}

.username {
  padding: 0.25em 0 0.25em 0.25em;
  text-align: center;
}

.username h1 {
  font-size: 23px;
}

.user_icon {
  width: 100%;
  border-radius: 6px;
}

.timerbutton {
  padding: 0.5em 0;
}

.timer_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #ea5549;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #ea5549;
  border: dashed 1px #fff;
  width: 100%;
  text-align: center;
  font: bold 110%/1.5em "Noto Sans", sans-serif;
}

.timer_btn:hover {
  border: dotted 1px #fff;
  background: #ea5449cc;
  box-shadow: 0px 0px 0px 5px #ea5549cc;
}

.historybutton {
  padding: 0.5em 0;
}

.history_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #85bd56;
  transition: 0.3s ease-in-out;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #85bd56;
  border: dashed 1px #fff;
  width: 100%;
  text-align: center;
  font: bold 110%/1.5em "Noto Sans", sans-serif;
}

.history_btn:hover {
  border: dotted 1px #fff;
  background: #84bd56cc;
  box-shadow: 0px 0px 0px 5px #85bd56cc;
}

.user_tree {
  background: #f0f0f0;
  padding: 1em 1em;
  width: 75%;
  float: left;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .usercard {
    background: #ffffff;
    padding: 0 1em;
    width: 100%;
    float: left;
  }

  .user_icon {
    width: 40%;
    float: left;
    border-radius: 6px;
  }

  .user_tree {
    background: #f0f0f0;
    padding: 0 1em;
    width: 75%;
    border-radius: 6px;
  }

  .timerbutton {
    padding: 0.5em 0;
  }

  .timer_btn {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 1em auto 0;
    text-decoration: none;
    background: #ea5549;
    transition: 0.3s ease-in-out;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #ea5549;
    border: dashed 1px #fff;
    width: 100%;
    text-align: center;
    font: bold 110%/1.5em "Noto Sans", sans-serif;
  }

  .historybutton {
    padding: 0.5em 0;
  }

  .history_btn {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 auto 1em;
    text-decoration: none;
    background: #85bd56;
    transition: 0.3s ease-in-out;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #85bd56;
    border: dashed 1px #fff;
    width: 100%;
    text-align: center;
    font: bold 110%/1.5em "Noto Sans", sans-serif;
  }

  .user_tree {
    background: #f0f0f0;
    padding: 1em 1em;
    width: 100%;
    float: left;
    border-radius: 6px;
  }
}
