@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  outline: none;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #efeeee;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
}

#main-wrap {
  margin: 16px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

main {
  width: 350px;
  height: 350px;
  background-color: #e9e9e9;
  border-radius: 50%;
  box-shadow: -6px -6px 12px #ffffff, 6px 6px 12px #ffffff;
  margin-bottom: 30px;
}

.container {
  position: relative;
  top: 17.5px;
  left: 17.5px;
  width: 315px;
  height: 315px;
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 6px 6px 12px #cbcaca, -6px -6px 12px #cbcaca;
}

.card {
  position: relative;
  top: 8.25px;
}

.percent {
  position: relative;
  width: 295px;
  height: 295px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px #b30009, -5px -5px 10px #f0f0f0;
  background-color: #f8f8f8;
  z-index: 1000;
  transition: all 1s linear;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8);
}

.percent .number div {
  position: absolute;
  top: 47.5%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s;
}

.percent .number div h2 {
  font-size: 50px;
  color: #ff0000;
}

.percent .number div h5 {
  color: #6d7481;
}

svg {
  position: relative;
  width: 300px;
  height: 300px;
  z-index: 1000;
  transform: rotate(-90deg);
}

svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 15px;
  stroke-linecap: round;
  transform: translate(12.5px, 7.5px);
}

.inner {
  stroke-dasharray: 880px;
  stroke-dashoffset: 0px;
  transition: all 1s linear;
}

.outer {
  stroke-dasharray: 880px;
  stroke-dashoffset: 0px;
  transition: all 1s linear;
}

#controller {
  display: inline-block;
  text-align: center;
  padding: 20px 15px 15px 15px;
  border-radius: 16px;
  box-shadow: 6px 6px 12px #cbcaca, -6px -6px 12px #ffffff;
}

#controller button {
  margin: 5px 5px 15px 5px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: none;
  border-radius: 50%;
  background: #efeeee;
  box-shadow: 6px 6px 12px #cbcaca, -6px -6px 12px #ffffff;
  color: #00000070;
}

#controller button:nth-child(1) {
  font-size: 20px;
}

#controller button:nth-child(2) {
  font-size: 20px;
}

#controller button:nth-child(3) {
  font-size: 20px;
  font-weight: bold;
}

#controller button:nth-child(5) {
  font-size: 15px;
  font-weight: bold;
}

#controller button:nth-child(6) {
  font-size: 15px;
  font-weight: bold;
}

#controller button:enabled:active {
  box-shadow: inset 6px 6px 12px #cbcaca, -6px -6px 12px #ffffff;
}

#controller button:enabled:active i {
  transform: scale(0.9);
  color: #00000090;
}

#controller button:disabled {
  box-shadow: inset 6px 6px 12px #cbcaca, -6px -6px 12px #ffffff;
}

#controller button:disabled i {
  color: #00000090;
  transform: scale(0.9);
}

#record {
  width: 315px;
  height: 575px;
  margin: 16px;
  border-radius: 16px;
  box-shadow: 6px 6px 12px #cbcaca, -6px -6px 12px #ffffff;
  text-align: center;
}

#record h1 {
  margin: 16px;
}
#record hr {
  margin: 0 16px;
}
form a {
  text-decoration: none;
}
form p {
  line-height: 1.4286;
  margin: 8px;
  text-align: center;
}
#record input {
  position: relative;
  outline: none;
  border: solid 2px #dedede;
  margin: 15px 0;
  padding: 8px 12px;
  border-radius: 50px;
  width: 80%;
  font-size: 0.8rem;
  background: #efeeee;
  box-shadow: inset 5px 5px 8px #cbcaca, -5px -5px 8px #ffffff;
}
#record input:active {
  border: solid 2px #dddddd;
}
#record button {
  outline: none;
  border: none;
  background: #efeeee;
  margin: 12px 0;
  padding: 12px;
  border-radius: 50px;
  width: 80%;
  height: 55px;
  font-size: 1.3rem;
  box-shadow: 5px 5px 8px #cbcaca, -2px -2px 8px #ffffff;
}
#record button:active {
  box-shadow: inset 5px 5px 8px #cbcaca, -2px -2px 8px #ffffff;
  font-size: 1.2rem;
}
.done {
  color: green;
}
.fail {
  color: red;
}
