/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

/* fontawesome */
@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  background: #ea5549;
  /* color: #5e5e5e; */
  font: 400 87.5%/1.5em "Noto Sans", sans-serif;
}

.form-wrapper {
  background: #ffffff;
  margin: 90px auto 0;
  padding: 0 1em;
  max-width: 370px;
  border-radius: 6px;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

form {
  padding: 0 1.5em;
}

.form-item {
  margin-bottom: 0.75em;
  width: 100%;
}

.form-item input {
  background: #ffffff;
  border: none;
  border-bottom: 2px solid #24d48b;
  color: #666;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-item input:focus {
  border-bottom: 2px solid #7effb4;
  outline: none;
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: #24d48b;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.button:hover {
  background: #3eee87;
}

.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dashed #8c8c8c;
}
