#title {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
#title hr {
  margin-bottom: 16px;
  width: calc(70% - 32px);
}
#title {
  height: 100%;
}
#content {
  width: 100%;
  height: calc(100% - 96px);
  vertical-align: top;
  margin: 0 auto;
}
#timer_settings {
  display: inline-block;
  width: calc(50% - 8px);
  height: 100%;
  border: solid 1px;
}
#timer_caution {
  display: inline-block;
  width: calc(50% - 8px);
  height: 100%;
  border: solid 1px;
}
